.space-single:nth-child(7) .button{
    /*background: #344568;*/
    /*color: #fff;*/
    /*float: left !important;*/
    /*position: absolute;*/
    /*left: 20px;*/
  }
  #loading-indicator,body.chart-page {
    background: #181b2a;
  }
  .my2{
    /*background: none;不能删*/
  }
  .chart-page .chart-container{
    border: none;
  }
  .header-group-bars-style{
    display: none !important;
  }
  .header-group-symbol-search{
    display: none !important;
  }
  .header-group-properties{
    float: right;
  }
  .header-group-indicators{
    float: right;
  }
  .header-group-fullscreen{
    float: right;
  }
  .layout__area--left{
    display: block!important;
  }
  
  .apply-overflow-tooltip{
    /*color: #fff !important;*/
    /*font-size: 19px !important;*/
  }
  
  /*.header-chart-panel .group:nth-child(2){*/
  /*background: red !important;*/
  /*}*/
  .bottom-widgetbar-content.backtesting .button, .header-chart-panel .button{
    /*width: 20px;*/
    padding: 7px 12px;
    border: none;
    background: none;
    /*height: 30px;*/
    /*line-height: 15px;*/
    color: #9194a4;
  }
  .mydate{
    /*margin-left: 20px;*/
    background: #131a21 !important;
    /* color: #fff !important; */
  }
  .header-chart-panel .group.header-group-properties{
      display: block !important;
  }
  .pane-legend-item-value-wrap .pane-legend-item-value:first-child{
      display: none;
  }
  .tv-dialog{
    background-color: #131a21;
    color: #c7cce6
  }
  .tv-dialog__section {
    border-bottom-color: #080d13;
  }
  .tv-dialog__title{
    color: #fff
  }
  .tv-insert-indicator-dialog__search-control {
    background-color: #080d13;
}
.tv-insert-indicator-dialog__search-control input {
  background-color: #080d13;
}
.tv-search-row {
  border-bottom-color: #131a21;
}
.tv-insert-indicator-dialog__pages::-webkit-scrollbar-thumb {
  border-color: #080d13 !important;
  background-color: #080d13 !important;
}
